<div class="sidenav-img">
  <img src="assets/images/logo.png" />
</div>
<div class="sidenav-content" fxLayout="column">
  <button mat-button color="primary">
    <div fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <mat-icon class="btn-icon">pie_chart</mat-icon>
      <h2>Dashboard</h2>
    </div>
  </button>

  <button mat-button color="primary">
    <div fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <mat-icon class="btn-icon">shopping_cart</mat-icon>
      <h2>Products</h2>
    </div>
  </button>

  <button mat-button color="primary">
    <div fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <mat-icon class="btn-icon">comment</mat-icon>
      <h2>Comments</h2>
    </div>
  </button>

  <button mat-button color="primary">
    <div fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <mat-icon class="btn-icon">people_alt</mat-icon>
      <h2>Users</h2>
    </div>
  </button>
</div>
